bin/
obj/
publish/
Releases/
artifacts/
.vs/
.dart_tool/
**/build/
native/build/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*.nupkg
.idea/
*.DotSettings.user
AppPackages/
BundleArtifacts/
